/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

/* .site-header__title{
border: 1px solid red;
} */

.country {
  margin: 5px;
  /* border: 1px solid red; */
}
