/* Try different box model properties below */

.site-header > p {
  color: white;
  margin: 0;
}

.site-footer > p {
  /* color: red; */
  font-size: 12px;
  text-align: center;
}

.message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
